.app-theme {
  --el-color-primary: @xtxColor;
  --el-color-primary-light-3: mix(#ffffff, @xtxColor, 30%);
  --el-color-primary-light-5: mix(#ffffff, @xtxColor, 50%);
  --el-color-primary-light-7: mix(#ffffff, @xtxColor, 70%);
  --el-color-primary-light-8: mix(#ffffff, @xtxColor, 80%);
  --el-color-primary-light-9: mix(#ffffff, @xtxColor, 90%);
  --el-color-primary-dark-2: mix(#000000, @xtxColor, 20%);
  --el-color-primary-rgb: red(@xtxColor), green(@xtxColor), blue(@xtxColor);

  --el-color-success: @sucColor;
  --el-color-success-light-3: mix(#ffffff, @sucColor, 30%);
  --el-color-success-light-5: mix(#ffffff, @sucColor, 50%);
  --el-color-success-light-7: mix(#ffffff, @sucColor, 70%);
  --el-color-success-light-8: mix(#ffffff, @sucColor, 80%);
  --el-color-success-light-9: mix(#ffffff, @sucColor, 90%);
  --el-color-success-dark-2: mix(#000000, @sucColor, 20%);
  --el-color-success-rgb: red(@sucColor), green(@sucColor), blue(@sucColor);

  --el-color-warning: @warnColor;
  --el-color-warning-light-3: mix(#ffffff, @warnColor, 30%);
  --el-color-warning-light-5: mix(#ffffff, @warnColor, 50%);
  --el-color-warning-light-7: mix(#ffffff, @warnColor, 70%);
  --el-color-warning-light-8: mix(#ffffff, @warnColor, 80%);
  --el-color-warning-light-9: mix(#ffffff, @warnColor, 90%);
  --el-color-warning-dark-2: mix(#000000, @warnColor, 20%);
  --el-color-warning-rgb: red(@warnColor), green(@warnColor), blue(@warnColor);

  --el-color-danger: @helpColor;
  --el-color-danger-light-3: mix(#ffffff, @helpColor, 30%);
  --el-color-danger-light-5: mix(#ffffff, @helpColor, 50%);
  --el-color-danger-light-7: mix(#ffffff, @helpColor, 70%);
  --el-color-danger-light-8: mix(#ffffff, @helpColor, 80%);
  --el-color-danger-light-9: mix(#ffffff, @helpColor, 90%);
  --el-color-danger-dark-2: mix(#000000, @helpColor, 20%);
  --el-color-danger-rgb: red(@helpColor), green(@helpColor), blue(@helpColor);

  --el-color-error: @priceColor;
  --el-color-error-light-3: mix(#ffffff, @priceColor, 30%);
  --el-color-error-light-5: mix(#ffffff, @priceColor, 50%);
  --el-color-error-light-7: mix(#ffffff, @priceColor, 70%);
  --el-color-error-light-8: mix(#ffffff, @priceColor, 80%);
  --el-color-error-light-9: mix(#ffffff, @priceColor, 90%);
  --el-color-error-dark-2: mix(#000000, @priceColor, 20%);
  --el-color-error-rgb: red(@priceColor), green(@priceColor), blue(@priceColor);

  --el-color-info: @infoColor;
  --el-color-info-light-3: mix(#ffffff, @infoColor, 30%);
  --el-color-info-light-5: mix(#ffffff, @infoColor, 50%);
  --el-color-info-light-7: mix(#ffffff, @infoColor, 70%);
  --el-color-info-light-8: mix(#ffffff, @infoColor, 80%);
  --el-color-info-light-9: mix(#ffffff, @infoColor, 90%);
  --el-color-info-dark-2: mix(#000000, @infoColor, 20%);
  --el-color-info-rgb: red(@infoColor), green(@infoColor), blue(@infoColor);
}
