@primary-color: #27ba9b;
@success-color: #1dc779;
@warning-color: #ffb302;
@danger-color: #e26237;
@error-color: #cf4444;
@info-color: #909399;

.app-theme {
  --el-color-primary: @primary-color;
  --el-color-primary-light-3: mix(#ffffff, @primary-color, 30%);
  --el-color-primary-light-5: mix(#ffffff, @primary-color, 50%);
  --el-color-primary-light-7: mix(#ffffff, @primary-color, 70%);
  --el-color-primary-light-8: mix(#ffffff, @primary-color, 80%);
  --el-color-primary-light-9: mix(#ffffff, @primary-color, 90%);
  --el-color-primary-dark-2: mix(#000000, @primary-color, 20%);
  --el-color-primary-rgb: red(@primary-color), green(@primary-color), blue(@primary-color);

  --el-color-success: @success-color;
  --el-color-success-light-3: mix(#ffffff, @success-color, 30%);
  --el-color-success-light-5: mix(#ffffff, @success-color, 50%);
  --el-color-success-light-7: mix(#ffffff, @success-color, 70%);
  --el-color-success-light-8: mix(#ffffff, @success-color, 80%);
  --el-color-success-light-9: mix(#ffffff, @success-color, 90%);
  --el-color-success-dark-2: mix(#000000, @success-color, 20%);
  --el-color-success-rgb: red(@success-color), green(@success-color), blue(@success-color);

  --el-color-warning: @warning-color;
  --el-color-warning-light-3: mix(#ffffff, @warning-color, 30%);
  --el-color-warning-light-5: mix(#ffffff, @warning-color, 50%);
  --el-color-warning-light-7: mix(#ffffff, @warning-color, 70%);
  --el-color-warning-light-8: mix(#ffffff, @warning-color, 80%);
  --el-color-warning-light-9: mix(#ffffff, @warning-color, 90%);
  --el-color-warning-dark-2: mix(#000000, @warning-color, 20%);
  --el-color-warning-rgb: red(@warning-color), green(@warning-color), blue(@warning-color);

  --el-color-danger: @danger-color;
  --el-color-danger-light-3: mix(#ffffff, @danger-color, 30%);
  --el-color-danger-light-5: mix(#ffffff, @danger-color, 50%);
  --el-color-danger-light-7: mix(#ffffff, @danger-color, 70%);
  --el-color-danger-light-8: mix(#ffffff, @danger-color, 80%);
  --el-color-danger-light-9: mix(#ffffff, @danger-color, 90%);
  --el-color-danger-dark-2: mix(#000000, @danger-color, 20%);
  --el-color-danger-rgb: red(@danger-color), green(@danger-color), blue(@danger-color);

  --el-color-error: @error-color;
  --el-color-error-light-3: mix(#ffffff, @error-color, 30%);
  --el-color-error-light-5: mix(#ffffff, @error-color, 50%);
  --el-color-error-light-7: mix(#ffffff, @error-color, 70%);
  --el-color-error-light-8: mix(#ffffff, @error-color, 80%);
  --el-color-error-light-9: mix(#ffffff, @error-color, 90%);
  --el-color-error-dark-2: mix(#000000, @error-color, 20%);
  --el-color-error-rgb: red(@error-color), green(@error-color), blue(@error-color);

  --el-color-info: @info-color;
  --el-color-info-light-3: mix(#ffffff, @info-color, 30%);
  --el-color-info-light-5: mix(#ffffff, @info-color, 50%);
  --el-color-info-light-7: mix(#ffffff, @info-color, 70%);
  --el-color-info-light-8: mix(#ffffff, @info-color, 80%);
  --el-color-info-light-9: mix(#ffffff, @info-color, 90%);
  --el-color-info-dark-2: mix(#000000, @info-color, 20%);
  --el-color-info-rgb: red(@info-color), green(@info-color), blue(@info-color);
}
